* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.mermaid-container svg {
  max-width: 100%;
  height: auto;
}

.mermaid svg {
  background: transparent !important;
}